<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi_OFrim6Crd3z19QF47XxX80if8grNsk</string>
	<key>GCM_SENDER_ID</key>
	<string>320884749566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sherif.adlicity.adlicity</string>
	<key>PROJECT_ID</key>
	<string>adlicity-sherif</string>
	<key>STORAGE_BUCKET</key>
	<string>adlicity-sherif.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320884749566:ios:efa09adcb34a2c41f821af</string>
</dict>
</plist>